.donate-page {
	min-height: 100%;

	background: url('../icons/gold_dots_background.png') no-repeat;
  background-repeat: no-repeat;
  background-size: cover;

  .header-section {
    background: url('../icons/gold_dots_background.png') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    @include media-below($tablet-portrait-max) {
      max-width: 425px;
    }

    .title {
      font-size: 80px;
      font-family: "Pacifico";
      display: inline-block;
      position: relative;
			bottom: 20px;

      .floating-heads {
        display: inline-block;
        position: relative;
        top: 22px;
        height: 130px;
        width: 190px;
				margin-left: 10px;
        background-image: url('../icons/floating_heads_light.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

	.explanation {
		background-color: white;
		padding: 30px 40px;
		margin: 0;
		border-top: 5px solid goldenrod;
		border-bottom: 5px solid goldenrod;
		font-size: 13px;
	}

  .donation-section {
  	min-height: 600px;
  	padding: 0 20px 40px;

  	background-color: white;

  	#donation-browser {
  		min-height: 480px;
			padding: 20px 0 100px;
			background: url('../icons/donations-background.png') no-repeat;

  		.donation-categories {
	  		ul {
	  			padding: 10px 0;

		  		a {
						background-color: #e0ad39;
						font-family: "Playfair Display SC";
						font-weight: bold;
		  		}
	  		}

				@include media-above($mobile-max) {
					//min-height: 480px;
				}
  		}

  		.donation-tab-content {
				@include media-below($tablet-portrait-min) {
					//text-align: center;
				}

	  		.tab-content {
	  			min-height: 480px;

	  			h2 {
	  				margin: 0 0 20px;	
	  			}

	  			h4 {
	  				color: #3d7da5;
	  			}

					.tiles-section {
						text-align: center;
					}

					#donation-form {
						h1 {
							background-color: white;
						}

						.form-top-text {
							background-color: white;
							margin: 20px 0;
						}

						.donation-method-selector {
							background-color: white;

							p {
								margin-bottom: 20px;
							}

							.radio-inline {
								margin-left: 20px;
							}

							.donation-details {
								margin: 20px 0;
								padding: 10px 0;
								border-top: 1px solid grey;
								border-bottom: 1px solid grey;

								.donation-detail-label {
									display: inline-block;
									width: 140px;
								}
							}

							.selected-method-section {
								margin-top: 40px;

								.email-address {
									font-weight: bold;
									font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
								}

								h4 {
									color: darkslategrey;
								}

								#{$a-tags} {
									color: #177db1;
									text-decoration: none;
								}

								#{$a-tags-hover} {
									color: #92bbd0;
								}
							}
						}
					}

					.donation-options {
						background-color: white;

						.donation-option-account {
							font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
						}

						h3 {
							margin: 20px 0;
						}

						h4 {
							font-size: 15px;
						}

						p {
							font-size: 13px;
							color: #717171;
						}
					}
	  		}

				.donation-tile {
					width: 250px;
					display: inline-block;
					min-height: 350px;
					margin: 15px;

					@include media-below($desktop-min) {
						width: 300px;
						height: 400px;
					}

					.tile-image {
						width: 250px;
						height: 250px;
						margin-bottom: 10px;
						cursor: pointer;

						@include media-below($desktop-min) {
							width: 300px;
							height: 300px;
						}
					}

					.title {
						font-size: 14px;
						font-family: "Playfair Display";
					}

					.donation-amount {
						font-size: 14px;
						font-family: "Playfair Display";
						color: #177db1;
					}
				}

	  		.coming-soon-placeholder {
	  			font-size: 24px;
	  		}
  		}
  	}
  }
}