.story-page {
  .story-items {
    margin: 0 15px 75px;

    &::after { 
      content: " "; 
      display: block;
      clear: both;
    } 

    .story-item {
      text-align: center;
      margin: 15px 0;

      .story-item-image {
        position: relative;
        height: 270px;
        width: 270px;
        display: inline-block;

        &:hover {
          cursor: pointer;

          filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
          /* This works in IE 8 & 9 too */
          /* ... but also 5, 6, 7 */
          filter: alpha(opacity=0);

          /* Older than Firefox 0.9 */
          -moz-opacity:0;

          /* Safari 1.x (pre WebKit!) */
          -khtml-opacity: 0;

          /* Modern!
          /* Firefox 0.9+, Safari 2?, Chrome any?
          /* Opera 9+, IE 9+ */
          opacity: 0;
        }

        &.year-2008 {
          background: url("../icons/our_story/OurStoryIcon_2008.png") no-repeat;
          background-size: contain;
          top: 25px;
        }

        &.year-2009 {
          background: url("../icons/our_story/OurStoryIcon_2009.png") no-repeat;
          background-size: contain;
        }

        &.year-2010-2011 {
          background: url("../icons/our_story/OurStoryIcon_2010-2011.png") no-repeat;
          background-size: contain;
        }

        &.year-2012 {
          background: url("../icons/our_story/OurStoryIcon_2012.png") no-repeat;
          background-size: contain;
          left: 30px;
        }

        &.year-2013 {
          background: url("../icons/our_story/OurStoryIcon_2013.png") no-repeat;
          background-size: contain;
        }

        &.year-2014-2015 {
          background: url("../icons/our_story/OurStoryIcon_2014-2015.png") no-repeat;
          background-size: contain;
        }

        &.year-2015 {
          background: url("../icons/our_story/OurStoryIcon_2015.png") no-repeat;
          background-size: contain;
          left: 20px;
        }

        &.year-2015-2016 {
          background: url("../icons/our_story/OurStoryIcon_2015-2016.png") no-repeat;
          background-size: contain;
          left: 30px;
        }

        &.year-2016 {
          background: url("../icons/our_story/OurStoryIcon_2016.png") no-repeat;
          background-size: contain;
          left: 30px;
        }

        &.year-2017 {
          background: url("../icons/our_story/OurStoryIcon_2017.png") no-repeat;
          background-size: contain;
          left: 30px;

          @include media-above($tablet-landscape-min) {
            width: 400px;
            height: 400px;
          }
        }
      }

      &.year-2017 {
        background-color: #fff5c6;

        @include media-between($tablet-portrait-min, $tablet-landscape-min) {
          background-color: transparent;
        }

        @include media-above($tablet-landscape-min) {
          width: 100%;
          margin-top: 100px;
          padding-bottom: 20px;
        }
      }
    }
  }
}