.story-page {
  .header-section {
    background: url('../icons/gold_dots_background.png') no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    @include media-below($tablet-portrait-max) {
      max-width: 425px;
    }

    .title {
      font-size: 80px;
      font-family: "Pacifico";
      display: inline-block;
      position: relative;
      bottom: 26px;

      .floating-heads {
        display: inline-block;
        position: relative;
        top: 34px;
        height: 130px;
        width: 190px;
        background-image: url('../icons/floating_heads_light.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  h4 {
    text-align: center;
    margin-top: 20px;
  }

  .story-items {
    margin: 0 15px 75px;
    font-size: 12.8px;

    &::after { 
      content: " "; 
      display: block;
      clear: both;
    } 

    .story-item {
      text-align: center;
      margin: 15px 0;

      .story-item-image {
        position: relative;
        height: 270px;
        width: 270px;
        display: inline-block;
        font-family: "Playfair Display";

        &.year-2008, &.year-2009, &.year-2010-2011, &.year-2012, &.year-2013, &.year-2014-2015,
        &.year-2015, &.year-2015-2016, &.year-2016, &.year-2017 {
          top: 25px;
          color: transparent;

          &:hover {
            cursor: pointer;
            background: transparent;
            color: black;
          }
        }

        &.year-2008 {
          background: url("../icons/our_story/OurStoryIcon_2008.png") no-repeat;
          background-size: contain;
        }

        &.year-2009 {
          background: url("../icons/our_story/OurStoryIcon_2009.png") no-repeat;
          background-size: contain;
        }

        &.year-2010-2011 {
          background: url("../icons/our_story/OurStoryIcon_2010-2011.png") no-repeat;
          background-size: contain;
        }

        &.year-2012 {
          background: url("../icons/our_story/OurStoryIcon_2012.png") no-repeat;
          background-size: contain;
          left: 30px;
        }

        &.year-2013 {
          background: url("../icons/our_story/OurStoryIcon_2013.png") no-repeat;
          background-size: contain;
        }

        &.year-2014-2015 {
          background: url("../icons/our_story/OurStoryIcon_2014-2015.png") no-repeat;
          background-size: contain;
        }

        &.year-2015 {
          background: url("../icons/our_story/OurStoryIcon_2015.png") no-repeat;
          background-size: contain;
          left: 20px;
        }

        &.year-2015-2016 {
          background: url("../icons/our_story/OurStoryIcon_2015-2016.png") no-repeat;
          background-size: contain;
          left: 30px;
        }

        &.year-2016 {
          background: url("../icons/our_story/OurStoryIcon_2016.png") no-repeat;
          background-size: contain;
          left: 30px;
        }

        &.year-2017 {
          background: url("../icons/our_story/OurStoryIcon_2017.png") no-repeat;
          background-size: contain;

          @include media-below($tablet-portrait-max) {
            left: 30px;
          }

          @include media-above($tablet-landscape-min) {
            height: 430px;
          }
        }
      }

      &.bottom-section {
        background-color: #fff5c6;

        @include media-between($tablet-portrait-min, $tablet-landscape-min) {
          background-color: transparent;
        }

        @include media-above($tablet-landscape-min) {
          width: 100%;
          margin-top: 100px;
        }
      }
    }
  }
}